<% include partials/header %>

<h1>Post An Image</h1>

<br>

<h3>Please only upload images you have the rights to. </h3>

         			
			
                
<% include partials/footer %>                